<router-outlet></router-outlet>
<div class="text-6xl mt-64 mb-3 w-1/3 text-center m-auto">Login or create user</div>
<form
    class="text-2xl w-1/3 m-auto mt-2"
    #todoForm="ngForm"
    (ngSubmit)="onSubmit()"
    novalidate
  >
    <input
      class="border-2 w-2/3"
      [(ngModel)]="userModel.name"
      #input
      type="text"
      name="name"
      placeholder="Enter name"
      type="text"
      class="border-2 w-2/3 form-control input-lg"
    />
    <button class="border-2 w-1/3 hover:bg-blue-300" type="submit">
      Login
    </button>
  </form>

	<form
    class="text-2xl w-1/3 m-auto mt-2"
    #todoForm="ngForm"
    (ngSubmit)="createUser()"
    novalidate
  >
    <input
      class="border-2 w-2/3"
      [(ngModel)]="newUserModel.name"
      #input
      type="text"
      name="name"
      placeholder="Enter name"
      type="text"
      class="border-2 w-2/3 form-control input-lg"
    />
    <button class="border-2 w-1/3 hover:bg-blue-300" type="submit">
      Create User
    </button>
  </form>
